* {
  box-sizing: border-box;
}

html {
  font-family: 'Merriweather sans';
  font-size: 10px;
}

.topnav {
  overflow: hidden;
  position: relative;
}

/* Hides the links inside the navigation menu */
.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #39858F;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/*  hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

a:link, a:visted {
  color: #DFD4D4;
}

a.current:link, a.current:visited {
  color: #DFD4D4;
}

/*** typography ***/
p, ul {
  font-family: 'Merriweather Sans';
  font-size: 1.5rem;
  line-height: 2.3rem;
}

h1 {
  color: #3AA695;
  font-family: "Yeseva One";
  font-size: 6rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 8rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2.5rem;
  line-height: 4rem;
}

h5 {
  font-size: 2rem;
  color: #39858F;
}

strong {
  font-size: 1.8rem;
  font-weight: bold;
}

/*** structure ***/
.container {
  background-color: white;
  width: auto;
}

img {
  height: inherit;
  max-width: 100%;
}

.icons {
  height: 3rem;
  margin: 1%;
}

.footerlist li {
  display: inline;
  list-style: none;
  padding-right: 5px;
}

.connect {
  text-align: center;
  margin: 12rem 0 0 1rem;
}

.footerheading {
  text-align: center;
}

/* index HOME PAGE  */
.featuredsec, .solosec {
  margin: 7rem 3rem 5rem 3rem;
}

.thirdsec {
  margin: 7rem 4rem 5rem 3rem;
}

.featured, .solotext {
  padding: 1rem;
  margin: 2rem 1rem 2.5rem 1rem;
}

.featuredpic, .solo {
  margin: 5rem 2rem 3rem 2rem;
  width: 85%;
}

.thirdpic {
  margin: 1rem 2rem 3rem 2rem;
  width: 30%;
}

.title {
  background-color: #39858F;
  color: #FFF1F1;
  float: left;
  margin-bottom: 3rem;
  margin-top: 10rem;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
}

.hero-text {
  line-height: 2.2rem;
  margin: 3rem 2.2rem 1rem 1rem;
  padding-left: 2.5rem;
  padding-top: 20rem;
}

.hero-image {
  background-image: url("../images/jkcrop1.png");
  background-position: left;
  background-repeat: no-repeat;
  height: 63rem;
  width: 100%;
}

.banner {
  height: 6rem;
}

.space {
  padding: 10rem;
}

.projectbutton, .solobutton {
  border: 1.5px solid #3AA695;
  color: #3AA695;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  width: 23rem;
}

.solobutton:hover {
  background-color: #3AA695;
  color: white;
}

.projectbutton:hover {
  background-color: #3AA695;
  color: white;
}

/* project STACKS CASE STUDY*/
.box {
  clear: right;
  float: none;
  height: auto;
  list-style-position: inside;
  padding: 3rem;
}

.conclusion {
  background-color: #3AA695;
  color: #FFF1F1;
  display: inline-block;
  margin: 1rem;
  padding: 3rem;
}

.problem, .solution {
  background-color: #3AA695;
  color: #FFF1F1;
  margin: 2%;
  padding: 3rem;
  width: 96%;
}

.button {
  border: 2px solid #3AA695;
  color: #3AA695;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.buttona {
  border: 2px solid #3AA695;
  color: #3AA695;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
}

.prototypebutton {
  margin: 5rem auto 2rem auto;
  text-align: center;
}

.prototypebutton:hover {
  background-color: #3AA695;
  color: white;
}

.buttona:hover {
  background-color: #3AA695;
  color: white;
}

.button:hover {
  background-color: #3AA695;
  color: white;
}

.intro {
  clear: left;
  margin-top: 3rem;
  padding: 3rem;
}

.stacks-pic {
  float: none;
  width: 100%;
}

.section {
  display: inline-block;
  margin: 0 2rem 0 2rem;
  padding: 1rem;
}

.pref, .dash {
  float: none;
  padding: 2.5rem;
  width: 100%;
}

.users, .fi, .landing, .dashboard, .mood, .branding, .clickable, .usertesting, .userp, .competitive {
  float: none;
  padding: 2.5rem;
  width: 100%;
}

.changes, .moodboard, .logo, .personas-pic, .processpic, .stacks-pic, .landing, .flow-pic, .dashboard {
  float: none;
  margin: 4rem 1rem 4rem 1rem;
  padding: 0;
  width: 95%;
}

.busybus-pic {
  float: none;
  margin: 2rem auto 0 auto;
  /* padding-left: 5rem; */
  width: 70%;
}

.competitive-pic {
  margin: 4rem auto 0 auto;
  width: 50%;
}

.space {
  padding: 5rem;
}

.stackscase {
  float: left;
  width: 50%;
}

/* third  */
/* ABOUT */
.river {
  margin-top: 5rem;
}

.beads, .story {
  float: none;
  padding: 2rem;
  width: 100%;
}

.college, .one, .nonprofits, .design {
  float: none;
  padding: 3rem;
  width: 100%;
}

.artofstory, .last, .jewelry {
  display: inline-block;
}

@media screen and (max-width:1200px) {
  .buttons {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    max-width: 285px;
  }

  .rwd-break {
    display: none;
  }
}

@media screen and (min-width: 650px) {
  .hero-text {
    margin: 0 7rem 0 7rem;
  }

  .buttona {
    max-width: 300px;
  }

  .title {
    padding-left: 8rem;
    padding-right: 3rem;
  }

  .featuredsec, .solosec, .thirdsec {
    display: inline-block;
    margin: 8rem 6rem 5rem 6rem;
  }

  .featuredpic, .solo {
    margin: 0 2rem 0 2rem;
    width: 70%;
  }

  .personas-pic, .moodboard, .logo, .changes, .stacks-pic, .landing, .dashboard {
    width: 80%;
  }

  .section {
    margin: 3rem 10rem 3rem 10rem;
  }

  .busybus-pic {
    float: left;
    margin-left: 4rem;
    width: 50%;
  }
}

@media screen and (min-width:991px) {
  h3 {
    font-size: 3rem;
  }

  .topnav a.icon {
    display: none;
  }

  .topnav #myLinks {
    display: inline;
    float: right;
  }

  .topnav {
    font-size: 2rem;
    overflow: hidden;
    text-decoration: none;
    width: 100%;
  }

  .topnav a {
    background-color: #39858F;
    color: white;
    float: left;
    justify-content: center;
    padding: 2rem 3rem 2rem 3rem;
    text-decoration: none;
  }

  /* home index page */
  .banner {
    float: left;
  }

  .featured {
    float: left;
    margin: 2rem 0 1rem 4.5rem;
    width: 40%;
  }

  .featuredsec, .solosec, .thirdsec {
    display: inline-block;
    margin: 8rem 5rem 5rem 5rem;
  }

  .featuredpic {
    float: right;
    margin: 5rem;
    width: 50%;
  }

  .solo {
    clear: left;
    float: left;
    margin: 5rem;
    width: 50%;
  }

  .thirdpic {
    float: right;
    margin: 5rem;
    width: 30%;
  }

  .solotext {
    float: right;
    margin-bottom: 20px;
    margin-right: 30px;
    width: 40%;
  }

  .title {
    background-color: #39858F;
    color: #FFF1F1;
    margin: 8rem 0 3rem 0;
    padding-top: 2.5rem 0 2.5rem 4rem;
    text-align: center;
    width: 40rem;
  }

  .college, .one, .nonprofits, .love {
    float: none;
    margin: 1rem;
    padding: 6rem;
    width: 100%;
  }

  .artofstory, .last, .jewelry {
    padding: 3rem;
  }

  /* project STACKS CASE STUDY  */
  .section {
    display: inline-block;
    margin: 6rem 20rem 6rem 20rem;
  }

  .problem, .solution {
    clear: both;
    float: none;
    height: auto;
    margin: 3%;
    padding: 1.5rem;
    width: 94%;
  }

  .usersurvey {
    display: table;
  }
}

@media screen and (min-width: 1100px) {
  p, ul {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  strong {
    font-size: 2.3rem;
  }

  .bottom {
    clear: both;
    margin-top: 8rem;
  }

  /* index HOME PAGE */
  .hero-text {
    margin-left: 9.7rem;
  }

  .featured {
    float: left;
    margin: 2rem 0 1rem 4.5rem;
    width: 40%;
  }

  .featuredsec, .solosec {
    display: inline-block;
    margin: 8rem 5rem 8rem 5rem;
  }

  .thirdsec {
    display: inline-block;
    margin: 15rem 5rem 8rem 5rem;
  }

  .featuredpic {
    float: right;
    margin: 3rem 7rem 10rem 0;
    width: 43%;
  }

  .thirdpic {
    float: right;
    /* margin: 5rem 0rem 10rem 0rem; */
    margin-right: 15rem;
    width: 18%;
  }

  .solo {
    clear: left;
    float: left;
    margin: 2rem 0 0 5rem;
    width: 38%;
  }

  .solotext {
    float: right;
    margin-bottom: 20px;
    margin-right: 30px;
    width: 40%;
  }

  .projectbutton, .solobutton {
    border: 2px solid #3AA695;
    color: #3AA695;
    cursor: pointer;
    font-size: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: 30rem;
  }

  /* about */
  .one {
    float: right;
    padding: 0;
    width: 50%;
  }

  .beads {
    float: left;
    padding: 1.4rem 0 0 0;
    width: 40%;
  }

  .story, .design {
    float: right;
    padding: 1rem 0 0 0;
    width: 40%;
  }

  .college, .nonprofits {
    float: left;
    padding: 0;
    width: 50%;
  }

  .river {
    margin-top: 5rem;
  }

  /* project STACKS CSE STUDY  */
  .intro {
    clear: right;
    float: right;
    padding: 3rem 3rem 3rem 0;
    width: 45%;
  }

  .stacks-pic {
    float: left;
    width: 45%;
  }

  .busybus-pic {
    float: left;
    width: 25%;
  }

  .problem {
    background-color: #3AA695;
    clear: left;
    color: #FFF1F1;
    float: left;
    height: 37rem;
    margin: 2%;
    padding: 4rem;
    width: 44%;
  }

  .solution {
    background-color: #3AA695;
    clear: right;
    color: #FFF1F1;
    float: right;
    height: 37rem;
    margin: 2%;
    padding: 4rem;
    width: 44%;
  }

  .competitive {
    clear: right;
    float: left;
    padding: 3rem 0 3rem 3rem;
    width: 46%;
  }

  .competitive-pic {
    clear: right;
    float: right;
    margin-top: 6rem;
    width: 40%;
  }

  .buttona {
    border: 2px solid #3AA695;
    clear: both;
    color: #3AA695;
    cursor: pointer;
    float: left;
    font-size: 2rem;
    margin-left: 5rem;
    margin-top: 5rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: 40rem;
  }

  .button {
    border: 2px solid #3AA695;
    color: #3AA695;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: 40rem;
  }

  .box {
    clear: right;
    float: left;
    height: 32rem;
    margin-left: 1%;
    width: 32%;
  }

  .processpic, .personas-pic {
    clear: left;
    float: left;
    margin: 1rem;
    padding-bottom: 6rem;
    padding-top: 1rem;
    width: 45%;
  }

  .flow-pic {
    float: right;
    padding-top: 0;
    width: 40%;
  }

  .users {
    clear: left;
    float: left;
    padding-right: 0;
    width: 40%;
  }

  .pref {
    clear: left;
    float: left;
    padding-right: 0;
    width: 46%;
  }

  .userp, .fi {
    float: right;
    padding-left: 0;
    width: 43%;
  }

  .dash {
    float: right;
    margin-top: 1rem;
    padding-left: 0;
    width: 42%;
  }

  .section {
    display: inline-block;
    margin: 8rem 7rem 4rem 7rem;
  }

  .buttons {
    float: left;
    width: 40%;
  }

  .dashboard {
    float: left;
    padding-top: 0;
    width: 42%
  }

  .landing {
    float: right;
    padding-top: 0;
    width: 40%;
  }

  .mood, .branding, .usertesting {
    clear: left;
    float: left;
    width: 45%;
  }

  .moodboard, .clickable, .changes, .logo {
    float: right;
    width: 40%;
  }

  .conclusion {
    background-color: #3AA695;
    color: #FFF1F1;
    display: inline-block;
    padding: 10rem 22rem 10rem 22rem;
  }
}
